*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body{
  font-family: 'Rubik';
}

:root {}

.container {
  max-width: 1140px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}