/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: 'Rubik', sans-serif;
}

:root {
  --header-title-color: #295091;
  --header-bg-color: #F6F6F9;
  --header-icon-bg-color: #FFFFFF;
  --header-link-color: #515151;
  --banner-border-color: #E0E0E0;
  --main-span-color1: #DB0000;
  --main-span-color2: #05B135;
  --main-span-color3: #000000;
  --main-span-after-color: #F4CCD1;
  --main-text-color: #202020;
  --main-paragraph-color: #6B6D97;
  --main-bg-btn-color: #FE5C28;
  --section-date-color: #7688A4;
  --section-date-border-color: #E4E4E4;
}

.container {
  max-width: 1240px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

/* ****HEADER START**** */
.header {
  background-color: var(--header-bg-color);
  width: 100%;
  height: 275px;
}

.header__nav_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__nav_container_box:nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 20px;
}

.header__nav_container_box:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 20px;
}

.header__nav_container_box-title {
  color: var(--header-title-color);
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
}

.fa-search {
  background-color: var(--header-icon-bg-color);
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
}

.header__nav_container_box_language {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 10px;
  background-color: var(--header-icon-bg-color);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  padding: 8px;
  cursor: pointer;
}

.header__nav_container_box_language-img {
  height: 20px;
  width: 20px;

}

.header__nav_container_box_subscribe_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: -o-linear-gradient(left, #1E96C8 15.07%, #37AEE2 85.96%);
  background: -webkit-gradient(linear, left top, right top, color-stop(15.07%, #1E96C8), color-stop(85.96%, #37AEE2));
  background: linear-gradient(90deg, #1E96C8 15.07%, #37AEE2 85.96%);
  border-radius: 5px;
  padding: 8px 12px;
  gap: 10px;
  transition: all .3s linear;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  -ms-transition: all .3s linear;
  -o-transition: all .3s linear;
  border: 1px solid var(--header-icon-bg-color);
}

.header__nav_container_box_subscribe_link:hover {
  background: var(--header-icon-bg-color);
  border: 1px solid var(--header-title-color);
}

.header__nav_container_box_subscribe_link:hover .header__nav_container_box_subscribe-paragraph {
  color: var(--header-title-color);
}

.header__nav_container_box_subscribe_link:hover .fa-telegram {
  color: var(--header-title-color);
}

.fa-telegram {
  color: var(--header-icon-bg-color);
  transition: all .3s linear;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  -ms-transition: all .3s linear;
  -o-transition: all .3s linear;
}

.header__nav_container_box_subscribe-paragraph {
  color: var(--header-icon-bg-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  transition: all .3s linear;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  -ms-transition: all .3s linear;
  -o-transition: all .3s linear;
}

.header__nav_list {
  height: 68px;
  width: 100%;
  background-color: var(--header-icon-bg-color);
  -webkit-box-shadow: 0px 2px 5px rgba(159, 159, 159, 0.19);
  box-shadow: 0px 2px 5px rgba(159, 159, 159, 0.19);
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}

.header__nav_list_item-link {
  font-weight: 500;
  font-size: 19px;
  line-height: 23px;
  color: var(--header-link-color);
  transition: all .3s linear;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  -ms-transition: all .3s linear;
  -o-transition: all .3s linear;
}

.header__nav_list_item-link:hover {
  text-decoration: underline;
}

.header__nav-img {
  margin: 18px 0 0 0;
  height: 99px;
  width: 100%;
}

/* ****HEADER END**** */

/* ****MAIN START**** */
.main__advertising {
  background-color: var(--header-bg-color);
  height: 133px;
  width: 100%;
  border-radius: 5px;
  margin: 22px 0 0 0;
}

.main__advertising_container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto);
  grid-template-columns: repeat(4, auto);
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 133px;
}

.main__advertising_container_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 15px;
}

.main__advertising_container_box-paragraph.paragraph1 {
  max-width: 232px;
  width: 100%;
  color: var(--main-span-color3);
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
}

.main__advertising_container_box-paragraph.paragraph2 {
  max-width: 100px;
  width: 100%;
}

.main__advertising_container_box-paragraph.paragraph3 {
  max-width: 100px;
  width: 100%;
}

.main__advertising_container_box-paragraph.paragraph4 {
  max-width: 75px;
  width: 100%;
  position: relative;
}

.main__advertising_container_box-paragraph-red {
  color: var(--main-span-color1);
  position: relative;
}

.main__advertising_container_box-paragraph-red::after {
  content: "";
  position: absolute;
  left: -100px;
  bottom: -20px;
  height: 74px;
  width: 2px;
  background-color: var(--main-span-color1);
}

.main__advertising_container_box-paragraph-green {
  color: var(--main-span-color2);
  position: relative;
}

.main__advertising_container_box-paragraph-green::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 49px;
  background-color: var(--main-span-after-color);
  left: -90px;
  top: -2.5px;
}

.main__advertising_container_box-paragraph-active {
  color: var(--main-span-color3);
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  position: relative;
}

.main__advertising_container_box-paragraph.paragraph4:after {
  content: "";
  position: absolute;
  width: 2px;
  height: 49px;
  background-color: var(--main-span-after-color);
  left: -100px;
  top: -5px;
}

.main__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 20px auto 20px auto;
  grid-template-columns: repeat(3, auto);
  gap: 20px;
  margin: 18px 0 0 0;
}

.main__list_item-img {
  height: 190px;
  max-width: 386px;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 5px;
}

.main__list_item-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: var(--main-text-color);
  max-width: 500px;
  width: 100%;
  text-align: left;
}

.main__list_item-paragraph {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: var(--main-paragraph-color);
  margin: 10px 0 0 0;
}

.main__following {
  background: rgba(239, 186, 84, 0.18);
  border-radius: 5px;
  height: 91px;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto);
  grid-template-columns: repeat(2, auto);
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 34px 0 0 0;
}

.main__following_box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 20px auto;
  grid-template-columns: repeat(2, auto);
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 20px;
  padding: 0 40px;
}

.main__following_box-link {
  background: (linear, left top, right top, (#FE5C28), (88.43%, rgba(255, 139, 54, 0.9)));
  background: -o-linear-gradient(left, #FE5C28 0%, rgba(255, 139, 54, 0.9) 88.43%);
  background: -webkit-gradient(linear, left top, right top, from(#FE5C28), color-stop(88.43%, rgba(255, 139, 54, 0.9)));
  background: linear-gradient(90deg, #FE5C28 0%, rgba(255, 139, 54, 0.9) 88.43%);
  border-radius: 5px;
  border: none;
  padding: 8px 15px;
  transition: all .3s linear;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  -ms-transition: all .3s linear;
  -o-transition: all .3s linear;
  border: 1px solid var(--main-bg-btn-color);
  cursor: pointer;
  color: var(--header-icon-bg-color);
}

.main__following_box-link:hover {
  background: transparent;
  color: var(--main-bg-btn-color);

}

/* ****MAIN END**** */

/* ****SECTION START**** */

.section__container-title {
  margin: 38px 0 13px 0;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: var(--main-span-color3);
}

.section__container_small {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto);
  grid-template-columns: repeat(2, auto);
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.section__container_small_list_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 20px;
  margin: 18px 0;
}

.section__container_small_list_item_box-img {
  border-radius: 5px;
  height: 143px;
  width: 252px;
}

.section__container_small_list_item_box-title {
  max-width: 435px;
  width: 100%;
  font-weight: 600;
  font-size: 17px;
  line-height: 20px;
  color: var(--main-text-color);
}

.section__container_small_list_item_box-paragraph {
  max-width: 490px;
  width: 100%;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  margin: 8px 0 12px 0;
}

.section__container_small_list_item_box_date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 5px;
}

.section__container_small_list_item_box_date-img {
  height: 20px;
  width: 18px;
}

.section__container_small_list_item_box_date-paragraph {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: var(--section-date-color);
}

.section__container_small_aside_list {
  background-color: var(--header-bg-color);
  max-width: 386px;
  width: 100%;
  height: 530px;
  padding: 20px;
  border-radius: 5px;
}

.section__container_small_aside_list_item-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: var(--main-text-color);
}

.section__container_small_aside_list_item-paragraph {
  max-width: 347px;
  width: 100%;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  color: var(--main-text-color);
  margin: 6px 0 11px 0;
}

.section__container_small_aside_list_item_paragraph-date {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: var(--section-date-color);
  margin: 0 0 36px 0;
  position: relative;
}

.section__container_small_aside_list_item_paragraph-date::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: var(--section-date-border-color);
  transform: translateX(-115px) translateY(35px);
  -webkit-transform: translateX(-115px) translateY(35px);
  -moz-transform: translateX(-115px) translateY(35px);
  -ms-transform: translateX(-115px) translateY(35px);
  -o-transform: translateX(-115px) translateY(35px);
}

.section__container_small_aside_list_item_paragraph-date.active::after {
  display: none;
}

.section__container_small_aside-img {
  max-width: 386px;
  height: 510px;
  margin: 20px 0 0 0;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 5px;
}

.section__container_small_aside_list_item-link {
  padding: 10px 32px;
  background-color: var(--header-title-color);
  color: var(--header-icon-bg-color);
  border-radius: 5px;
  border: 1.4px solid var(--header-title-color);
  position: relative;
  left: 300px;
  top: -30px;
  transition: all .3s linear;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  -ms-transition: all .3s linear;
  -o-transition: all .3s linear;
}

.section__container_small_aside_list_item-link:hover {
  background-color: transparent;
  color: var(--header-title-color);
}

/* ****SECTION END**** */