/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: 'Rubik', sans-serif;
}

:root {
  --header-title-color: #295091;
  --header-bg-color: #F6F6F9;
  --header-icon-bg-color: #FFFFFF;
  --header-link-color: #515151;
  --banner-border-color: #E0E0E0;
  --main-span-color1: #DB0000;
  --main-span-color2: #05B135;
  --main-span-color3: #000000;
  --main-span-after-color: #F4CCD1;
}

.container {
  max-width: 1140px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

/* ****HEADER START**** */
.header {
  background-color: var(--header-bg-color);
  width: 100%;
  height: 275px;
}

.header__nav_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__nav_container_box:nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 20px;
}

.header__nav_container_box:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 20px;
}

.header__nav_container_box-title {
  color: var(--header-title-color);
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
}

.fa-search {
  background-color: var(--header-icon-bg-color);
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
}

.header__nav_container_box_language {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 10px;
  background-color: var(--header-icon-bg-color);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  padding: 8px;
  cursor: pointer;
}

.header__nav_container_box_language-img {
  height: 20px;
  width: 20px;

}

.header__nav_container_box_subscribe_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: -webkit-gradient(linear, left top, right top, color-stop(15.07%, #1E96C8), color-stop(85.96%, #37AEE2));
  background: -o-linear-gradient(left, #1E96C8 15.07%, #37AEE2 85.96%);
  background: linear-gradient(90deg, #1E96C8 15.07%, #37AEE2 85.96%);
  border-radius: 5px;
  padding: 8px 12px;
  gap: 10px;
  transition: all .2s linear;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -ms-transition: all .2s linear;
  -o-transition: all .2s linear;
  border: 1px solid var(--header-icon-bg-color);
}

.header__nav_container_box_subscribe_link:hover {
  background: var(--header-icon-bg-color);
  border: 1px solid var(--header-title-color);
}

.header__nav_container_box_subscribe_link:hover .header__nav_container_box_subscribe-paragraph {
  color: var(--header-title-color);
}

.header__nav_container_box_subscribe_link:hover .fa-telegram {
  color: var(--header-title-color);
}

.fa-telegram {
  color: var(--header-icon-bg-color);
  transition: all .2s linear;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -ms-transition: all .2s linear;
  -o-transition: all .2s linear;
}

.header__nav_container_box_subscribe-paragraph {
  color: var(--header-icon-bg-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  transition: all .2s linear;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -ms-transition: all .2s linear;
  -o-transition: all .2s linear;
}

.header__nav_list {
  height: 68px;
  width: 100%;
  background-color: var(--header-icon-bg-color);
  -webkit-box-shadow: 0px 2px 5px rgba(159, 159, 159, 0.19);
  box-shadow: 0px 2px 5px rgba(159, 159, 159, 0.19);
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}

.header__nav_list_item-link {
  font-weight: 500;
  font-size: 19px;
  line-height: 23px;
  color: var(--header-link-color);
  transition: all .2s linear;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -ms-transition: all .2s linear;
  -o-transition: all .2s linear;
}

.header__nav_list_item-link:hover {
  text-decoration: underline;
}

.header__nav-img {
  margin: 18px 0 0 0;
  height: 99px;
  width: 100%;
}

/* ****HEADER END**** */

/* ****MAIN START**** */
.main__advertising {
  background-color: var(--header-bg-color);
  height: 133px;
  width: 100%;
  border-radius: 5px;
  margin: 22px 0 0 0;
}

.main__advertising_container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto);
  grid-template-columns: repeat(4, auto);
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 133px;
}

.main__advertising_container_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 15px;
}

.main__advertising_container_box-paragraph.paragraph1 {
  max-width: 232px;
  width: 100%;
  color: var(--main-span-color3);
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
}

.main__advertising_container_box-paragraph.paragraph2 {
  max-width: 100px;
  width: 100%;
}

.main__advertising_container_box-paragraph.paragraph3 {
  max-width: 100px;
  width: 100%;
}

.main__advertising_container_box-paragraph.paragraph4 {
  max-width: 75px;
  width: 100%;
  position: relative;
}

.main__advertising_container_box-paragraph-red {
  color: var(--main-span-color1);
  position: relative;
}

.main__advertising_container_box-paragraph-red::after {
  content: "";
  position: absolute;
  left: -100px;
  bottom: -20px;
  height: 74px;
  width: 2px;
  background-color: var(--main-span-color1);
}

.main__advertising_container_box-paragraph-green {
  color: var(--main-span-color2);
  position: relative;
}

.main__advertising_container_box-paragraph-green::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 49px;
  background-color: var(--main-span-after-color);
  left: -90px;
  top: -2.5px;
}

.main__advertising_container_box-paragraph-active {
  color: var(--main-span-color3);
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  position: relative;
}

.main__advertising_container_box-paragraph.paragraph4:after {
  content: "";
  position: absolute;
  width: 2px;
  height: 49px;
  background-color: var(--main-span-after-color);
  left: -100px;
  top: -5px;
}

/* ****MAIN END**** */